@import "style.css";

$phone: "screen and (max-width: 580px)";
$slimPhone: "screen and (max-width: 360px)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: 0;
}

body {
  background-color: #f0f1f8;
  .window.hidden {
    visibility: hidden;
  }
}

.window {
  position: absolute;
  width: 372px;
  height: 322px;
  background-color: #ffffff;
  border-radius: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &__star {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 24px;
    top: 24px;
    background: #f0f1f8;
    border-radius: 370px;
    img {
      width: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & &__exit {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 12px;
    top: 12px;

    img {
      width: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & &__title {
    position: absolute;
    width: 265px;
    height: 40px;
    left: 24px;
    top: 74px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #0d1016;
  }

  @media #{$phone} {
    width: 343px;
    height: 314px;
    &__star {
      left: 16px;
      top: 16px;
    }
    & &__title {
      width: 200px;
      left: 16px;
      top: 66px;
    }
  }
  @media #{$slimPhone} {
    width: 275px;
    height: 314px;
    & &__title {
      width: 250px;
      left: 20px;
    }
  }
}

.window-note-component {
  position: absolute;
  height: 88px;
  width: 324px;
  top: 138px;
  left: 24px;
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    gap: 6px;
    button {
      cursor: pointer;
      width: 60px;
      height: 48px;
      background: #fcfcff;
      border: 1px solid #dadfe9;
      border-radius: 12px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -0.03em;
    }
    button:hover {
      background: #eeefff;
    }
    button.selected {
      background: #293ce2;
      color: #ffffff;
      transition: 0.3s;
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;

    div {
      position: absolute;
      width: 90px;
      height: 27px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      color: #aeb5c3;
      p::first-line {
        letter-spacing: -0.03em;
      }
    }
    &-dissatisfied {
      bottom: 0;
      left: 0;
    }
    &-satisfied {
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }

  @media #{$phone} {
    top: 130px;
    left: 16px;
    width: 312px;
    &__buttons {
      gap: 8px;
      button {
        width: 56px;
      }
    }
    &__description {
      div {
        height: 26px;
      }
    }
  }
  @media #{$slimPhone} {
    width: 235px;
    left: 20px;
    &__buttons {
      gap: 5px;
      button {
        width: 43px;
      }
    }
  }
}

.window-next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 48px;
  left: 24px;
  width: 324px;
  bottom: 24px;
  background: #f0f1f8;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  @media #{$phone} {
    left: 16px;
    width: 311px;
  }
  @media #{$slimPhone} {
    left: 20px;
    width: 234px;
  }
}
.window-next-button.active {
  background: #293ce2;
  cursor: pointer;
  transition: 0.3s;
}
.window-next-button.active:hover {
  background: #4759f4;
}
.window-next-button.active:active {
  background: #293ce2;
}
