@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: 0;
}

body {
  background-color: #f0f1f8;
  .window.hidden {
    visibility: hidden;
  }
}

.window {
  position: absolute;
  width: 343px;
  height: 314px;
  background-color: #ffffff;
  border-radius: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__star {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 24px;
    top: 24px;
    background: #f0f1f8;
    border-radius: 370px;
    img {
      width: 16px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & &__exit {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 12px;
    top: 12px;

    img {
      width: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & &__title {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 24px;
    top: 74px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #0d1016;
  }
}

.window-note-component {
  position: absolute;
  height: 88px;
  width: 311px;
  top: 130px;
  left: 16px;
  display: flex;
  flex-direction: column;
  &__buttons {
    display: flex;
    gap: 8px;

    button {
      cursor: pointer;
      width: 56px;
      height: 48px;

      background: #fcfcff;
      border: 1px solid #dadfe9;
      border-radius: 12px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -0.03em;
    }
    button:hover {
      background: #eeefff;
    }
    button.selected {
      background: #293ce2;
      color: #ffffff;
    }
  }
  &__description {
    display: flex;
    justify-content: space-between;

    div {
      position: absolute;
      width: 90px;
      height: 28px;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #aeb5c3;
      }
    }
    &-dissatisfied {
      bottom: 0;
      left: 0;
    }
    &-satisfied {
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }
}

.window-next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 311px;
  height: 48px;
  left: 16px;
  bottom: 24px;
  background: #f0f1f8;
  border-radius: 12px;
  font-size: 14px;

  p {
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }
}
.window-next-button.active {
  background: #293ce2;
  cursor: pointer;
}
.window-next-button.active:hover {
  background: #4759f4;
}
.window-next-button.active:active {
  background: #293ce2;
}

@media only screen and (min-width: 480px) {
  body {
    div.window {
      width: 372px;
      height: 322px;

      div.window__title {
        left: 24px;
        width: 265px;
      }
      div.window-note-component {
        height: 88px;
        width: 324px;
        top: 138px;
        left: 24px;
        div.window-note-component__buttons {
          gap: 6px;

          button {
            width: 60px;
          }
        }
      }
      button.window-next-button {
        left: 24px;
        width: 324px;
      }
    }
  }
}
